.ul1 {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  width: 30%;
  justify-content: space-between;
  text-align: center;
}

.main-li {
  max-width: 150px;
  text-align: center;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.li1 {
  color: #0284c7;
  border: 1px solid #0284c7;
  max-width: 100px;
  text-align: center;
  border-radius: 30px;
  padding-left: 10px; /* 10px padding on the left */
  padding-right: 10px; /* 10px padding on the right */
}
